table {
    td, th {
      color: red;
    }
  }
  .first {
    color: red;
    font-family: "Times New Roman";
    font-size: 18pt;
  }
  
  .second {
    color: yellow;
    font-family: "Times New Roman";
    font-size: 20pt;
  }
  
  .third {
    color: green;
    font-family: "Times New Roman";
    font-size: 22pt;
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
  color: magenta;
  font-family: "Monotype Corsiva";
}
